*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D293A;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    background-color: #0F1722;
    color: #EAEAEA;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px -7px 20px black;
}

.icon{
    display: flex;
    align-items: center;
}

.icon img{
    height: 4rem;
    margin-right: 1rem;
}

.navbarNav{
    display: flex;
}

.navbarNav a{
    text-decoration: none;
    color: #EAEAEA;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 700;
}
.navbarNav a::after{
    content: "";
    margin-top: 2px;
    display: block;
    border-bottom: solid #fecc00 3.5px;
    transform: scaleX(0);
}

.navbarNav a:hover::after{
    transform: scaleX(1.1);
    transition: linear 0.2s;
}

@media (max-width: 600px) {
    .navbar{
        font-size: x-small;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    .navbarNav a{
        font-size: x-small;
        margin-left: 1rem;
    }
    .icon img{
        height: 2rem;
    }
    .icon h3{
        font-size: xx-small;
    }
    .icon{
        align-items: center;
    }
}

.display {
    width: 230px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.caution {
    width: 230px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    background-color: #fecc00;
    border-radius: 25px;
    color: #1D293A;
}

.caution2 {
    width: 400px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    background-color: #1D293A;
    border: none;
    border-radius: 25px;
    color: #EAEAEA;
}

.display {
    width: 240px;
    height: 50px;
    margin: 5px;
    text-align: right;
    font-size: xx-large;
    font-weight: 600;
    background-color: #1D293A;
    border: none;
    border-radius: 25px;
    color: #EAEAEA;
}


.buttonAll{
    display: flex;
    width: 240px;
    flex-wrap: wrap;
}

.button{
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: #354357;
    font-size: x-large;
    color: #EAEAEA;
    font-weight: 600;
    border: none;
}

.button:hover{
    background-color: #354357c3 ;
}

.buttonOperasi {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: #354357;
    font-size: large;
    color: #EAEAEA;
    font-weight: 550;
    border: none;
}